<div class="product-card" *ngIf="product" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
    <div class="product-image">
        <img [src]="constructImageUrl(product.mainImage)" />
    </div>
    <div class="product-details">
        <!-- Add a router link to open product details when <h2> is clicked -->
        <a [routerLink]="['/product', product.productId]">
            <h2>{{ product.name }}</h2>
        </a>
        <p class="price">{{ product.price | currency }}</p>
        <div class="varieties">
            <div *ngFor="let variety of product.varieties; let i = index" class="variety" (mouseenter)="changeImage(i)"
                (mouseleave)="resetImage()">
                <div class="variety-image rounded-element">
                    <img [src]="constructImageUrl(variety.imageUrl || '')" alt="{{ variety.description }}" />
                </div>
            </div>
        </div>
    </div>
    <div class="ratings">
        <!-- Display star rating and review count here -->
        <p class="star-rating">Star</p>
        <p class="review-count">Reviews</p>
    </div>
</div>



<!-- {{ product.starRating }} {{ product.reviewCount }} -->