<div class="product-card" *ngIf="product" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
    <div class="product-image">
        <img [src]="constructImageUrl(product.mainImage)" />
    </div>
    <div class="product-details">
        <a [routerLink]="['/product', product.productId]">
            <h2>{{ product.name }}</h2>
        </a>
        <p class="price">{{ product.price | currency }}</p>
        <div class="varieties">
            <div *ngFor="let variety of product.varieties; let i = index" class="variety" (mouseenter)="changeImage(i)"
                (mouseleave)="resetImage()">
                <div class="variety-image rounded-element">
                    <img [src]="constructImageUrl(variety.imageUrl || '')" alt="{{ variety.description }}" />
                </div>
            </div>
        </div>
    </div>
    <div class="ratings">
        <app-star-rating [rating]="reviewDetails?.averageRating ?? 0"></app-star-rating>
        <!-- <p class="star-rating">Star</p> -->
        <p class="review-count">Reviews {{ reviewDetails?.totalReviews }}</p>
    </div>

    <div>
        <fa-icon [icon]="faCart"></fa-icon>
        <fa-icon [icon]="faHeart"></fa-icon>
    </div>
</div>



<!-- {{ product.starRating }} {{ product.reviewCount }} -->