<div class="carousel">
  <!-- <button (click)="prevSlide()">Previous</button> -->
  <!-- if u want to show button prev  -->
  <div *ngFor="let product of carouselProducts; let i = index">
    <div *ngIf="i === currentIndex">
      <img
        [src]="constructImageUrl(product.background)"
        alt="{{ product.name }}"
      />
      <div class="text-sect">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}$</p>
      </div>
    </div>
  </div>
  <!-- <button (click)="nextSlide()">Next</button> -->
  <!-- if u want to show button next  -->
</div>
