<button (click)="openProductCreate()">Add New Product</button>

<table class="table">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th>Background</th>
      <th>Stock</th>
      <th>Gallery</th>
      <th>Variety</th>
      <th>Tags</th>
      <th>Reviews</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of paginatedProducts">
      <!-- Fill in the data from product -->
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td><img [src]="sanitizeUrl(product.mainImageBlob)" alt="Product Image" width="100" height="100"></td>
      <td>
        <button (click)="openGalleryEditor(product)">Edit Gallery</button>
      </td>
      <td>
        <button (click)="openVarietyEditor(product)">Edit Variety</button>
      </td>
      <td>
        <div *ngFor="let tag of product.tags">
          {{ tag.title }}
        </div>
      </td>
      <td>
        <button (click)="openReviewsModal(product)">Reviews</button>
      </td>
      <td>
        <button (click)="editProduct(product)">Edit</button>
        <button (click)="deleteProduct(product)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>