div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the form container */
form {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 50px;
}

/* Style form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style text inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style buttons */
button {
  display: block;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
margin: 0 auto;}

/* Style the "Already have an account" button */
.btn-login {
  background-color: transparent;
  color: #333;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
align-items: center
;}
.btn-register {
  background-color: #007bff;
  color: #333;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  display: block;
  padding: 10px;
  margin: 0 auto;
}
/* Hover effect for buttons */
.btn-login:hover {
  color: #ffffff;
  background-color: #0056b3;
}

/* Style the "Already have an account" button on hover */
button.router-link-button:hover {
  background-color: #ccc;
}

