  <div >
    <form class="registration-form">
     <label for="firstName">FirstName</label>
      <input type="text" formControlName="firstName" >
      <label for="lastName">LastName</label>
      <input matInput type="text" formControlName="lastName" />
      <label for="email">Email</label>
      <input type="email" formControlName="email" >
      <label>Password</label>
      <input matInput type="password" formControlName="password" />


      <button class="btn-register" (click)="onSubmit()">
        Register
      </button>
      <button class="btn-login" routerLink="/login"  routerLinkActive="active">
        Already have an account? Login here.
      </button>
    </form>
  </div>


