/* headline.component.css */
.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 4rem;
  padding-bottom: 8rem;
  padding-top: 12rem;

  /* Increase the height */
  /* overflow: auto;  */
}

h1 {
  font-size: 7rem;
  color: #fff;
  font-weight: 200;
  line-height: 6rem;
  margin-bottom: 3rem;
}
p {
  color: #fff;
}

button {
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  border: none;
}

.product-title {
  font-size: 1.5rem;
  /* Larger font size for the title */
  font-weight: bold;
  margin-bottom: 10px;
}

.dummy-paragraph {
  margin: 0;
}

.headline-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* Additional styling for the Product Card if needed */
