<nav class="navbar">
    <div class="navbar-left">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass fa-beat" style="color: #1f2951;"></i>
        </div>
        <input type="text" class="search-input" placeholder="Search...">
    </div>
    <div class="navbar-center">
        <ul class="nav-list">
            <li class="nav-item">Item 1</li>
            <li class="nav-item">Item 2</li>
            <li class="nav-item">Item 3</li>
            <li class="nav-item site-logo">Logo</li>
            <li class="nav-item">Item 4</li>
            <li class="nav-item">Item 5</li>
            <li class="nav-item">Item 6</li>
        </ul>
    </div>
    <div class="navbar-right">
        <div class="profile-icon">
            User
            <i class="fa-solid fa-user fa-shake"></i>
        </div>
        <div class="cart-icon">
            Cart
            <i class="fa-solid fa-cart-shopping fa-bounce"></i>
        </div>
    </div>
</nav>
