/*.navbar {
  background-color: #c2b5b5;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.search-input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  outline: none;
  transition: width 0.3s;
}

.search-input:focus {
  width: 150px;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.profile-icon,
.cart-icon {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-icon:hover,
.cart-icon:hover {
  color: #ffcc00;
}

.site-logo {
  margin: 0 10px;
  font-weight: bold;
}

.search-icon.ml-auto {
  margin-right: 0px;
  /* Adjust the margin as needed
}

.profile-icon {
  margin-right: 30px;

} */
* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #000;
  border-bottom: 1px solid #2c2c2c;
}

.logo {
  border-right: 1px solid #2c2c2c;
}

a {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
}

/* Logo Style ktu ma vone  */

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  padding: 25px 10px;
  color: #f8f8f8;
}

.menu-service ul li {
  border-left: 1px solid #2c2c2c;
  padding-left: 30px;
  padding-right: 30px;
}