<nav>
  <div class="main-menu">
    <div class="logo">
      <li><a href="logo">Logo</a></li>
    </div>
    <div class="menu-links">
      <ul>
        <li class="nav-item">
          <!-- <a class="nav-link" [routerLink]="'/products/home'">Home</a> -->
          <a class="nav-link" (click)="onSelectProductType('Home')">Home</a>
        </li>
        <li class=" nav-item" *ngFor="let productType of productTypes">
          <!-- <a class="nav-link" [routerLink]="['/products', productType.type]">{{ productType.type }}</a> -->
          <!-- <a class="nav-link" [routerLink]="['./', productType.type]">{{ productType.type }}</a> -->
          <a class="nav-link" (click)="onSelectProductType(productType.type)">{{ productType.type }}</a>
        </li>
      </ul>
    </div>
    <div class="menu-service">
      <ul>
        <li (click)="navigateToAdmin()"><fa-icon [icon]="faAdmin"></fa-icon></li>
        <li><fa-icon [icon]="faGlass"></fa-icon></li>
        <li><fa-icon [icon]="faHeart"></fa-icon></li>
        <li><app-cart></app-cart>
        <li><fa-icon [icon]="faBars"></fa-icon></li>
      </ul>
    </div>
  </div>
</nav>