.profile-icon-container {
    position: relative;
    display: inline-block;
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
}


.profile-icon-container:hover .cart-profile {
    display: block;
}