.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This ensures that the container takes the full height of the viewport */
}

.content-wrapper {
    max-width: 600px;
    width: 100%;
}