.tag {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

.selected {
  border: 2px solid green;
}

.toggle-button {
  cursor: pointer;
}
.toggle-button:hover {
  color: rgb(255, 0, 0);
}

.delete-button {
  cursor: pointer;
}
.btn-main {
  display: flex;
}
.btn {
  background-color: transparent;
  border: none;
  color: rgb(6, 6, 250);
  cursor: pointer;
}
.icon-red {
  color: rgb(255, 0, 0);
}
.add-new {
  font-size: 14px;
}
.btn-submit {
  border: none;
}
