<div>
    <h3>Tags</h3>
    <button (click)="showCreateNewTagForm = !showCreateNewTagForm">Add New Tag +</button>
    <div *ngIf="showCreateNewTagForm" class="tag">
        <input [(ngModel)]="newTag">
        <button (click)="createNewTag()">Submit</button>
    </div>
</div>

<div *ngFor="let tag of tags; let i = index">
    <div class="tag" [ngClass]="{'selected': tag.selected}">
        {{ tag.title }}
        <button class="toggle-button" (click)="check(tag)">+</button>
        <button class="toggle-button" (click)="unCheck(tag)">-</button>
        <button class="delete-button" (click)="deleteTag(tag)">X</button>
    </div>
</div>