<div class="collection-main">
<div class="first-collection">
  <img class="img-first" src="../../../assets/zingjir.svg" alt="zingjir collection">
<h5>Zingjir</h5>
<p>Collection</p></div>

<div class="collection-inner">
  <div class="varese">
    <img class="img-first" src="../../../assets/re.png" alt="varese collection">
    <h5>Varse</h5>
    <p>Collection</p>

</div>
<div class="personalized">
  <img class="img-first" src="../../../assets/personalizime.png" alt="varese collection">
  <h5>Personalizime</h5>
  <p>Collection</p>

</div>
</div>

</div>
<div class="promo-product">
<app-promo-product></app-promo-product>
 <div>
  <h3>A don mu dok Cool <br>
  Zgjedhe njo perqefi</h3>
  <h6>lor4m ipsum test Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Iusto laboriosam repellendus explicabo tempora perferendis quo adipisci amet voluptas! Consequatur autem earum tempore rerum, <br>magnam nesciunt distinctio dolore fugit doloribus voluptatum.</h6>

  <button>Shop now</button>
</div>
</div>
