.collection-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.collection-inner,
.first-collection,
.varese,
.personalized {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /* Ensure box sizing includes padding and borders */
}

.collection-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-collection {
  width: 100%;
  position: relative;
}

.img-first {
  position: relative;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
  width: 100%;
  max-width: 100%;
  /* Make images responsive */
}

.img-first:hover {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

h5,
p {
  position: absolute;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

h5 {
  inset: auto auto 5rem 5rem;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  transition: inset 0.3s 0.3s ease-out;
}

h5:hover {
  color: rgb(218, 165, 32);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

p {
  inset: auto auto 2rem 5rem;
  font-weight: normal;
  color: #fff;
  transition: inset 0.3s 0.3s ease-out;
}

p:hover {
  color: rgb(218, 165, 32);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.personalized,
.varese {
  position: relative;
  background-color: #000;
  width: 100%;
}

.personalized > h5,
.varese > h5 {
  inset: auto auto 5rem 5rem;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  transition: inset 0.3s 0.3s ease-out;
}

.personalized h5:hover,
.varese h5:hover {
  color: rgb(218, 165, 32);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.promo-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 5rem;
  font-size: 3rem;
  line-height: 40px;
}

h6 {
  padding-top: 20px;
}

button {
  padding: 10px 30px;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  font-weight: 500;
}

button:hover {
  background-color: rgb(218, 161, 18);
  transition: all 0.4s ease-in;
  color: #fff;
  border: none;
}
@media screen and (max-width: 768px) {
  .collection-main {
    grid-template-columns: auto;
  }
  .collection-inner {
    grid-template-columns: auto;
  }
  .promo-product {
    grid-template-columns: auto;
  }
}
