<div class="cart-container">
  <!-- Product Items Table -->
  <div class="product-items">
    <table class="cart-details-table bg">
      <thead>
        <tr>
          <th>Products</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let displayedItem of displayedCartItems">
          <td class="products-cell">
            <button
              class="remove-btn"
              (click)="
                removeFromCart(displayedItem.cartItem.cartItemId, displayedItem)
              "
            >
              X
            </button>

            <img
              [src]="constructImageUrl(displayedItem.product.mainImage)"
              alt="{{ displayedItem.product.name }} Image"
              width="100"
              height="100"
            />
            <div>
              <h2>{{ displayedItem.product.name }}</h2>
              <p class="product-price">
                {{ displayedItem.product.price | currency : "EUR" }}
              </p>
            </div>
          </td>

          <td>
            <!-- <button (click)="decrementOrDelete(displayedItem.cartItem)">-</button> -->
            <button
              class="btn-quantity"
              (click)="decrementQuantity(displayedItem.cartItem)"
              [disabled]="displayedItem.cartItem.quantity === 1"
            >
              -
            </button>
            <!-- <input type="number" [(ngModel)]="displayedItem.cartItem.quantity" min="1" /> -->
            <input
              class="quantity-input"
              type="number"
              [(ngModel)]="displayedItem.cartItem.quantity"
              (input)="validateQuantity(displayedItem)"
              min="1"
            />
            <button
              class="btn-quantity"
              (click)="incrementQuantity(displayedItem.cartItem)"
            >
              +
            </button>
          </td>
          <td>
            {{
              displayedItem.product.price * displayedItem.cartItem.quantity
                | currency : "EUR"
            }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- discount section -->
    <div class="discount-section">
      <!-- FIX input type="text" id="discountInput" [(ngModel)]="discount" />-->
      <input type="text" id="discountInput" placeholder="Coupon Code" />
      <button (click)="applyDiscount()">Apply Discount</button>
    </div>
  </div>

  <!-- total -->
  <div class="total-section">
    <h2>Order Total</h2>

    <div>
      <div class="order-details">
        <p class="subtotal">
          Subtotal: <span>{{ calculateSubtotal() | currency : "EUR" }}</span>
        </p>
        <p class="subtotal">
          Transport: <span> {{ transportFee | currency : "EUR" }}</span>
        </p>

        <p class="subtotal">
          After discount:
          <span>{{ calculateTotalAfterDiscount() | currency : "EUR" }}</span>
        </p>
      </div>

      <div class="estimated-delivery">
        <p>Estimated delivery date: {{ estimatedDeliveryDate }}</p>
      </div>
      <p class="subtotal">Total <span>70$</span></p>

      <button class="checkout-btn" (click)="proceedToBilling()">
        Proceed to Checkout
      </button>
    </div>
  </div>
</div>
>
