button.btn-quantity {
  border: none;
  background: white;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
/* input for quantity */
input.quantity-input {
  width: 40px;
  text-align: center;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-bottom: 1px solid black;
}
thead {
  border-bottom: 1px solid;
}

td {
  padding: 8px;
  align-items: center;
  white-space: nowrap;
  max-width: 300px;
}
th {
  padding: 8px;
  align-items: center;
  white-space: nowrap;
  font-weight: 300;
  font-size: 1.3rem;
}
/* product-td */

td.products-cell {
  display: flex;
  gap: 2rem;
}
.products-cell.div {
  width: 300px;
}
/* remove btn */
.remove-btn {
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
}
/* product price */
.product-price {
  font-size: 1rem;
}
.content-wrapper {
  display: flex;
  padding-top: 100px;
}
.order-summary {
  background-color: rgb(206, 206, 206);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cart-container {
  display: flex;
  margin: 0 12rem;
}

.product-items {
  flex: 70%;
  padding: 100px 10px;
}

.total-section {
  margin: 100px 10px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: rgb(215, 222, 248);
}
.subtotal {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.transport {
  display: flex;
  justify-content: space-between;
}
.order-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount-section {
  padding-top: 40px;
}
.discount-section button {
  background-color: white;
  border: 1px solid black;
  padding: 4px 10px;
  outline: none;
  margin-left: 1rem;
}
.checkout-btn {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border: none;
  outline: none;
}
.estimated-delivery {
  padding-bottom: 20px;
}
.checkout-btn:hover {
  background-color: #4e4e4e;
  transition: all 0.4s;
}
span {
  font-size: 1.2rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
}
/* responsive */
@media screen and (max-width: 768px) {
  .cart-container {
    display: block;
    flex-direction: column;
    margin: 20px;
  }

  .total-section {
    margin: 100px 10px;
    width: 400px;
    margin: 0 auto;
  }
  h2 {
    text-wrap: balance;
  }
}
@media screen and (max-width: 1200px) {
  .cart-container {
    margin: 20px;
  }

  h2 {
    text-wrap: balance;
  }
}
