.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 10px;
}

.variety-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.thumbnail-container {
    display: flex;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.label {
    font-weight: bold;
}

.input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}