* {
  margin: 0;
  padding: 0;
}

.toggle-menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

app-navbar {
  width: 100%;
  z-index: 1000;
}

app-navbar nav {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: red;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s;
  z-index: 1000;
}

.sidebar.collapsed {
  left: 0;
}
