<div class="container-fluid">
  <!-- Navbar -->
  <div class="row">
    <div class="col">
      <!-- Navbar content goes here -->
      <app-navbar></app-navbar>
    </div>
  </div>
  <!-- Main Content -->
  <div class="row">
    <div class="col-3">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
      
    </div>
    <div class="col-12">
      <app-main-section></app-main-section>

      <h1>Hot Line Bling</h1>

      <app-product-grid [products]="products"></app-product-grid>
    </div>
  </div>
</div>
