<!-- //SAKT -->
<!-- <button class="toggle-menu-button" (click)="toggleSidebar()">
  ☰
</button>

<div class="sidebar" [class.collapsed]="isCollapsed">
  ALLO
</div>

<div class="container-fluid">

  <div class="row">
    <app-navbar></app-navbar>
  </div>

  <div class="row">
    <div class="main-section">

      <div class="spotlighted-content">
        <app-headline></app-headline>
      </div>

      <div class="spotlighted-content">
        <div class="promo-product-container">
          <app-promo-product></app-promo-product>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">

    <h1>Hot Line Bling</h1>

    <app-product-grid [products]="products"></app-product-grid>
  </div>

  <div class="container-fluid prod-list">
    <div class="row">
      <div class="col-md-3">
        <app-product-filters></app-product-filters>
      </div>
      <div class="col-md-9">
        <h1>Prod List-+</h1>
        <app-product-listing></app-product-listing>
      </div>
    </div>
  </div>

  <div class="subscribe-section">
    <app-subscribe></app-subscribe>
  </div>


  <div class="spotlighted-content">
    <div class="testimonials-section">
      <app-testimonials></app-testimonials>
    </div>
  </div>

</div>

<app-footer></app-footer> -->

<!-- <div class="container-fluid">
  <button class="toggle-menu-button" (click)="toggleSidebar()">
    ☰
  </button>
</div>

<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="row">
    <div class="main-section">
      <div class="spotlighted-content">
        <app-headline></app-headline>
      </div>
      <div class="spotlighted-content">
        <div class="promo-product-container">
          <app-promo-product></app-promo-product>
        </div>
      </div>
      <router-outlet name="mainSection"></router-outlet>
    </div>
  </div>
  <div class="col-12">
    <h1>Hot Line Bling</h1>
    <router-outlet name="productListing"></router-outlet>
  </div>
  <div class="container-fluid prod-list">
    <div class="row">
      <div class="col-md-3">
        <app-product-filters></app-product-filters>
      </div>
      <div class="col-md-9">
        <h1>Prod List-+</h1>
        <router-outlet name="productList"></router-outlet>
      </div>
    </div>
  </div>
  <div class="subscribe-section">
    <app-subscribe></app-subscribe>
  </div>
  <div class="spotlighted-content">
    <div class="testimonials-section">
      <app-testimonials></app-testimonials>
    </div>
  </div>
</div> -->

<!-- <button class="toggle-menu-button" (click)="toggleSidebar()">☰</button> -->

<div class="container-fluid">
  <app-navbar></app-navbar>

  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
