.toggle-menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

app-navbar {
  width: 100%;
  z-index: 1000;
}

app-navbar nav {
  margin: 0;
  padding: 0;
}