<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
      
    </div>
    <div class="col-12">
      <app-main-section></app-main-section>

      <h1>Hot Line Bling</h1>

      <app-product-grid [products]="products"></app-product-grid>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <app-sidebar></app-sidebar>

  <div class="content">
    <app-navbar></app-navbar>

    <button class="toggle-menu-button" type="button" data-toggle="collapse" data-target="#sidebarCollapse">
      Toggle Sidebar
    </button>

    <app-main-section></app-main-section>

    <h1>Hot Line Bling</h1>

    <app-product-grid [products]="products"></app-product-grid>
  </div>
</div> -->

<!-- <button class="toggle-menu-button" (click)="toggleSidebar()">
  ☰
</button>

<div class="container">
  <app-navbar></app-navbar>

  <div class="main-section">
    <div class="spotlighted-content">
      <app-headline></app-headline>
    </div>

    <div class="spotlighted-content">
      <div class="promo-product-container">
        <app-promo-product></app-promo-product>
      </div>
    </div>
  </div>
</div>

<app-sidebar [isCollapsed]="isCollapsed" (toggleSidebar)="toggleSidebar()"></app-sidebar> -->

<button class="toggle-menu-button" (click)="toggleSidebar()">
  ☰
</button>

<div class="sidebar" [class.collapsed]="isCollapsed">
  ALLO
</div>

<div class="container-fluid">

  <div class="row">
    <app-navbar></app-navbar>
  </div>

  <div class="row">
    <div class="main-section">

      <div class="spotlighted-content">
        <app-headline></app-headline>
      </div>

      <div class="spotlighted-content">
        <div class="promo-product-container">
          <app-promo-product></app-promo-product>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">

    <h1>Hot Line Bling</h1>

    <app-product-grid [products]="products"></app-product-grid>
  </div>

  <div class="container-fluid prod-list">
    <div class="row">
      <div class="col-md-3">
        <!-- Product Filters Component -->
        <app-product-filters></app-product-filters>
      </div>
      <div class="col-md-9">
        <!-- Product Listing -->
        <h1>Prod List-+</h1>
        <app-product-listing></app-product-listing>
        <!-- Pagination Controls (if using custom pagination) -->
        <!-- Add pagination controls here -->
      </div>
    </div>
  </div>

  <div class="subscribe-section">
    <app-subscribe></app-subscribe>
  </div>


  <div class="spotlighted-content">
    <div class="testimonials-section">
      <app-testimonials></app-testimonials>
    </div>
  </div>




  <div>
    DUMMY
  </div>
  <div>
    DUMMY
  </div>
  <div>
    DUMMY
  </div>
  <div>
    DUMMY
  </div>
  <div>
    DUMMY
  </div>
  <div>
    DUMMY
  </div>
</div>