.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Adjust the width as needed for the sidebar and navbar */
  app-sidebar {
    width: 250px; /* Adjust to your sidebar width */
  }
  
  app-navbar {
    flex-grow: 1; /* Allow the navbar to occupy available space */
  }
  
  /* Add styles for your toggle menu button */
  .toggle-menu-button {
    color: red;
    /* Add styles for your toggle button here */
  }
  