.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #5bc995;
  width: 240px;
  padding-top: 5em;
  overflow-y: auto;
  /* Add this to make the sidebar scrollable if needed */
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 0.5em 1em;
  font-size: 1rem;
  /* Correct syntax for font size */
  font-weight: normal;
  /* Use "normal" for font weight */
  transition: all 0.15s linear;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.main-content {
  flex: 1;
  /* Allow the main content to take the remaining space */
  padding: 30px;
  /* overflow: auto; */
  /* Add this to make the main content scrollable if needed */
}