<div class="container">
  <div class="sidebar">
    <ul>
      <li (click)="openModule('products')">Products</li>
      <li (click)="openModule('orders')">Orders</li>
      <li (click)="openModule('prodReviews')">Product Reviews</li>
      <li (click)="openModule('testimonials')">Testimonials</li>
      <li (click)="openModule('sliders')">Slider</li>
      <li (click)="openModule('tags')">Tags</li>
      <li (click)="openModule('sales')">Sales</li>
    </ul>
  </div>
  <div class="main-content">
    <ng-container *ngComponentOutlet="currentModule"></ng-container>
  </div>
</div>