<div class="content-wrapper">
  <!-- right img -->
  <div class="a-fixed-left-grid">
    <div class="a-fixed-left-grid-inner">
      <div class="thumbnail" (click)="changeImage(product?.mainImage || '')">
        <img class="img-gallery" [src]="constructImageUrl(product?.mainImage)" alt="Main Image" />
      </div>

      <div *ngFor="let gallery of product?.itemGalleries" class="thumbnail" (click)="changeImage(gallery.imageUrl)">
        <img class="img-gallery" [src]="constructImageUrl(gallery.imageUrl)" alt="Gallery Thumbnail" />
      </div>

    </div>
    <div class="img-current">
      <img [src]="constructImageUrl(currentImage)" alt="">
    </div>
  </div>
  <div>
    <!-- Vaietes bottom -->
    <div class="bottom-varietes">

      <div *ngFor="let variety of product?.varieties" class="thumbnail" (click)="changeImage(variety.imageUrl || '')">
        <img class="img-gallery" [src]="constructImageUrl(variety.imageUrl || '')" alt="Variety Thumbnail" />
      </div>
    </div>
  </div>
</div>