/* Add this to your existing CSS */

/* Common styles for thumbnails */
.thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Styles for galleries thumbnails */
.galleries-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1rem;
    height: 1rem;
}

.galleries-thumbnails .thumbnail {
    margin-bottom: 10px;
    /* Adjust the margin between gallery thumbnails */
}

/* Styles for varieties thumbnails */
.varieties-thumbnails {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.varieties-thumbnails .thumbnail {
    margin-right: 10px;
    /* Adjust the margin between variety thumbnails */
}

/* /wrapepr */

/* left img grid gallery */
.a-fixed-left-grid-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.a-fixed-left-grid {
    display: flex;
}

.img-gallery {
    width: 40px;
}

/* gallery block */
#imageblock {
    display: flex;
    margin-top: 40px;

}

/* image full */
.a-fixed-left-grid-col {
    padding-left: 40px;

}

/* bottom varietes */
.bottom-varietes {
    display: flex;
    gap: 15px;
    padding-top: 1rem;
    padding-left: 3rem;
}

.img-current img {
    width: 300px;
    /* Adjust the width as needed */
    height: 400px;
    /* Adjust the height as needed */

    /* This property ensures the image covers the entire container, maintaining aspect ratio */
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.main-content {
    display: flex;
    width: 80%;
    /* Adjust the width as needed */
}

.left-content {
    flex: 1;
    padding-right: 20px;
    /* Adjust the padding as needed */
}

.right-content {
    flex: 1;
}

.tabs-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none; /* Remove the default focus outline */
}

.tab-content {
    margin-top: 20px;
}

/* New styles for active/focused tab */
.tab.active {
    font-weight: bold;
    border-bottom: 2px solid #000; /* Adjust the color as needed */
}

/* Rest of your existing styles */