<div class="headline">
  <div><h1>Varse <br>Argjendi</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>quibusdam quia dignissimos. Molestias blanditiis eos labore, pariatur illo sapiente soluta <br> perspiciatis laboriosam! Deleniti, aliquam placeat. Voluptates, voluptatem?
    </p>
  <div><button>Shop Now</button></div></div>

</div>
<div class="services-main" >
  <div class="support">
   <fa-icon [icon]="faHeadset" size="lg"></fa-icon>
    <h4>Best Support</h4>
    <p>we have best support</p>
  </div>
  <div class="order">
    <fa-icon [icon]="faTruck" size="lg"></fa-icon>
    <h4>Online Order</h4>
    <p>Transport over 1-3 days</p>
  </div>
<div class="quality">
  <fa-icon [icon]="faMedal" size="lg"></fa-icon>
  <h4>Best Quality</h4>
  <p>we use the best quality</p>
</div>
</div>
