/* .testimonial-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 30%;
    vertical-align: top;
} */
/* Testimonial Carousel Container */
.testimonial-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}

/* Testimonial Card */
.testimonial-card {
    flex: 0 0 33.33%;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    /* transition: transform 0.5s ease-in-out; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.testimonial-card.show {
    opacity: 1;
}

/* Center the focused testimonial */
.testimonial-card.focused {
    flex: 0 0 50%;
}

.user-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.user-name {
    font-weight: bold;
    margin-top: 10px;
}

.comment {
    margin-top: 10px;
}

.comment blockquote {
    font-style: italic;
}

.rating {
    margin-top: 10px;
}

.stars {
    display: inline-block;
}

.star {
    font-size: 20px;
}

.star::before {
    content: "\2605";
}

.star.full::before {
    content: "\2605";
    color: gold;
}

.star.gray::before {
    content: "\2605";
    color: gray;
}