<div>
    <button type="button" (click)="addVariety()">Add Variety</button>
    <div *ngFor="let variety of varietyForms; let i = index" class="variety-form">
        <input type="text" [(ngModel)]="variety.description" placeholder="Description">
        <input type="number" [(ngModel)]="variety.stock" />
        <input type="file" (change)="onImageSelected($event, i)" accept="image/*">
        <button type="button" (click)="deleteVarietyForm(i)">Delete</button>
        <button type="button" (click)="submitVarietyForm(i)">Submit</button>
    </div>
</div>

<div *ngFor="let variety of varietyForms; let i = index" class="variety-row">
    <div>
        <span>Name: {{ variety.description }}</span>
        <img *ngIf="variety.imageUrl" [src]="variety.imageUrl" width="100" height="100">
    </div>
    <button type="button" (click)="deleteVariety(i)">Delete</button>
</div>