<div class="row">
  <div class="main-section">
    <div class="spotlighted-content">
      <app-headline></app-headline>
    </div>
    <div class="spotlighted-content">
      <div class="promo-product-container">
        <app-collection-section></app-collection-section>
      </div>
    </div>
    <div class="col-12">
      <h3>Our Bestsellers</h3>
      <app-product-grid></app-product-grid>
    </div>
    <div class="ad-personalizo">
      <img src="../../../assets/personalizo-banner.png" alt="" />
    </div>
  </div>
  <div class="ad-sectiton"></div>
  <app-product></app-product>
</div>
<div class="subscribe-section">
  <app-subscribe></app-subscribe>
</div>

<div class="spotlighted-content">
  <div class="testimonials-section">
    <app-testimonials></app-testimonials>
  </div>
</div>
