<div class="row">

    <div class="main-section">
        <div class="spotlighted-content">
            <app-headline></app-headline>
        </div>

        <div class="spotlighted-content">

            <div class="promo-product-container">
                <app-collection-section></app-collection-section>
            </div>

        </div>

        <div class="col-12">
            <h1>Hot Line Bling</h1>
            <app-product-grid></app-product-grid>
        </div>

    </div>

</div>

<div class="subscribe-section">
    <app-subscribe></app-subscribe>
</div>

<div class="spotlighted-content">
    <div class="testimonials-section">
        <app-testimonials></app-testimonials>
    </div>
</div>