<footer class="footer">
    <div class="company-logo">Company Logo</div>
    <h1>Dummy Text</h1>
    <div class="footer-content">
        <div class="company-info">
            <div class="company-links">
                <span>About</span> | <span>Contact</span>
            </div>
            <div class="follow-us">
                Follow Us:
                <span class="social-icons">
                    <a href="#">
                        <i class="material-icons instagram">instagram</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">facebook</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">telegram</i>
                    </a>
                </span>
            </div>
        </div>
        <div class="copyright">Copyright 2023</div>
    </div>
</footer>