div.action-btns td {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-edit {
  background-color: rgb(95, 95, 228);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
}
.btn-edit:hover {
  opacity: 0.8;
}
.btn-del {
  background-color: rgb(255, 0, 0);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
}
.btn-del:hover {
  opacity: 0.8;
}
.btn {
  background-color: #e5e3ff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}
.btn:hover {
  opacity: 0.9;
  color: #3700ff;
}
table {
  width: 100%;
}
td {
  white-space: nowrap;
}
.add-new {
  margin-bottom: 20px;
  padding: 7px 15px;
}
.add-new:hover {
  background-color: #cdcdce;
}
