.rating-container {
  display: inline-block;
}

.circle {
  width: 20px;
  /* Adjust the size of the circles */
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  /* Adjust spacing between circles */
  display: inline-block;
}

.gold {
  background-color: rgb(255, 221, 27);
}

.black {
  background-color: rgb(255, 230, 0);
}
