/* cart.component.css (or cart.component.scss) */
.cart-icon-container {
  position: relative;
  display: inline-block;
  /* Ensure it doesn't break the layout */
}

/* cart.component.css */
.cart-dropdown {
  position: absolute;
  top: 100%;
  /* Position the dropdown below the cart icon */
  right: -100px;
  /* Align the dropdown to the right */
  z-index: 1;
  /* Ensure it appears above other content */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  /* Adjust the width as needed */
  max-height: 300px;
  /* Set a maximum height for the dropdown */
  overflow-y: auto;
  /* Enable vertical scrolling if needed */
  color: #000;
  padding: 10px 0 10px 50px;
}
.cart-buttons {
  display: flex;
  gap: 5px;
}
.cart-icon-container:hover .cart-dropdown {
  display: block;
  /* Show the cart items on hover */
}
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.plus-btn {
  color: rgb(0, 128, 0);
  background-color: transparent;
  border: none;
}
.minus-btn {
  color: rgb(243, 1, 1);
  background-color: transparent;
  border: none;
}
