<div
  class="cart-icon-container"
  (mouseenter)="showCartItems()"
  (mouseleave)="hideCartItems()"
>
  <div class="cart-icon">
    <fa-icon [icon]="faCart"></fa-icon>
  </div>
  <div class="cart-dropdown" [hidden]="!isCartOpen">
    <ng-container *ngIf="isLoggedIn; else loginMessage">
      <ng-container *ngIf="cartItems.length > 0; else noItems">
        <div *ngFor="let item of cartItems" class="cart-item">
          {{ item.itemName }}

          <div class="cart-buttons">
            <button class="plus-btn" (click)="incrementQuantity(item)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>

            <span
              *ngIf="item.quantity > 1"
              class="cart-item-quantity"
              contenteditable="true"
              (blur)="editQuantity(item, $event)"
              (keydown.enter)="$event.preventDefault()"
            >
              {{ item.quantity }}
            </span>

            <button class="minus-btn" (click)="decrementOrDelete(item)">
              <ng-container *ngIf="item.quantity > 1; else removeButton">
                <fa-icon [icon]="faMinus"></fa-icon>
              </ng-container>
              <ng-template #removeButton> Remove </ng-template>
            </button>
          </div>
        </div>
        <div class="proceed-to-checkout" *ngIf="cartItems.length > 0">
          <button class="checkout-btn" (click)="navigateToCheckout()">
            Proceed to checkout
          </button>
        </div>
      </ng-container>
      <ng-template #noItems>
        <div class="no-items-message">No items in your cart.</div>
      </ng-template>
    </ng-container>
    <ng-template #loginMessage>
      <div class="login-message">Log in to view your cart.</div>
    </ng-template>
  </div>
</div>
