<div class="product-filters">
    <div class="filter-block">
      <h3 class="filter-title">Filter 1 Title:</h3>
      <ul class="filter-options">
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
      </ul>
    </div>
  
    <div class="filter-block">
      <h3 class="filter-title">Filter 2 Title:</h3>
      <ul class="filter-options">
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
      </ul>
    </div>
  
    <div class="filter-block">
      <h3 class="filter-title">Filter 3 Title:</h3>
      <ul class="filter-options">
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
      </ul>
    </div>
  </div>
  